<p class="text-muted">
</p>

<div class="card">
    <div class="card-header bg-primary">
  Welcome {{ User.FullName }} 
    </div>
    <div class="card-body">
        <div class="card" > 
            <ul class="list-group list-group-flush">
              <li class="list-group-item">UserName: <span class="text-muted">{{User.name}} </span></li>
              <li class="list-group-item">Email: <span class="text-info">{{ User.Email}} </span></li>
              <li class="list-group-item">Phone Number: <span>{{ User.Phone}} </span></li>
            </ul>
          </div>
    </div>
  </div>